bind 0.0.0.0
port 6380
daemonize yes
pidfile "/opt/redis-cluster/redis_6380/run/redis_6380.pid"
logfile "/opt/redis-cluster/redis_6380/logs/redis.log"
dir "/opt/redis-cluster/redis_6380/data"
appendonly yes
appendfilename "appendonly.aof"
cluster-enabled yes
cluster-config-file "/opt/redis-cluster/redis_6380/conf/nodes.conf"
cluster-node-timeout 15000
